body {
	margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#celebbackground {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
  	opacity: .4;
  	-webkit-filter: blur(10px);
}

.gobuttoncenter {
	margin-top: 5%;
	margin-bottom: 15%;
	display: block;
	margin: auto;
    width: 40%;
    padding: 14px;
}

.textcenter {
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
}

.container {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 20%;
	margin-right: 20%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex;
}

.lcontainer {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.rcontainer {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.lattribute-data {
	flex-grow: 1;
	order: 1;
}

.sideattribute {
	flex: none;
}

.celebrityphoto {
	flex-grow: 2;
	order: 2;
	max-width: 50%;
}

.rattribute-data {
	flex-grow: 1;
	order: 3;
}